@import "tailwindcss";

@theme {
  --color-primary: #007AFF;
  --color-secondary: #6B7280;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-text: #000000;
  --color-bg: #ffffff;

  /* Updated font to Montserrat */
  --font-sans: 'Montserrat', sans-serif;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .bg-hero {
  @apply bg-[linear-gradient(342deg,#967BB6_20%,#D6D1EC_50%,#967BB6_80%)];
}

} 
@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* move only half, because we doubled content */
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-inner {
  display: flex;
  width: fit-content;
  animation: marquee 15s linear infinite;
}
